@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.slideContainer {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 20;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}

.projects_Container {
  pointer-events: none;
  display: relative;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects_Nav {
  position: absolute;
  top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  height: 15%;
  width: 100%;
  /* background-color: red; */
}

.projects_Nav button {
  border: transparent;
  background-color: transparent;
  font-family: "Shrikhand", cursive;
  font-style: normal;
  font-size: calc(0.75em + 1.5vmin);
  margin-left: 12px;
  margin-right: 12px;
  pointer-events: auto;
  color: white;
  cursor: pointer;
  font-weight: 400;
  transition: 0.3s;
  text-shadow: 3px 3px 1px black;
}

.projects_Html {
  overflow: hidden;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 0px;
  height: 80%;
  width: 100%;
  /* background-color: yellow; */
}

.projects_item {
  overflow: hidden;
  pointer-events: auto;
  position: relative;
  height: 350px;
  width: 350px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #4f535c;
}

.projects_Hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects_item_Title {
  word-break: break-word;
  white-space: normal;
  text-align: center;
  width: 90%;
  height: 50%;
  background-color: transparent;

  color: black;

  font-size: calc(0.75em + 1vmin);
  font-weight: 400;
  font-family: "Shrikhand", cursive;
  font-style: normal;
  transition: 0.2s;
}

.projects_item_Button {
  cursor: pointer;
  pointer-events: auto;

  width: 40%;
  height: 14%;
  border: 1px solid rgba(255, 130, 88, 1);
  background-color: transparent;

  font-size: calc(0.45em + 0.5vmin);
  font-weight: 400;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  transition: 0.2s;
}

.button_active {
  transition: 0.2s;
  color: rgba(255, 130, 88, 1) !important;
}

.projects_item_Button:hover {
  color: white;
  background-color: rgba(255, 130, 88, 1);
  transition: 0.2s;
}

.projects_item_Image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.contain {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.hidden {
  display: none;
}

/* MODALS */

.modal_Container {
  pointer-events: fill;
  position: fixed;
  top: 0;
  left: 200%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.541);
  z-index: 30;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  height: 80%;
  width: 30%;
  background-color: beige;
  border-radius: 5%;
  overflow: hidden;
  transition: all 0.3s;
}

.closeButton {
  pointer-events: all;
  color: rgba(255, 130, 88, 1);
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
  bottom: 4px;
  right: 4%;
  font-size: 2em;
}
.closeButton:hover {
  transition: 0.3s;
  color: black;
}

.modal_img {
  height: 30%;
  width: 100%;
  border-bottom: 5px solid rgba(255, 130, 88, 1);
}

.modal_img_Sassy {
  border-bottom: 5px solid rgba(255, 130, 88, 1);

  background-color: #4f535c;
  height: 30%;
  width: 100%;
}

.modalTitle {
  white-space: initial;
  margin: 0 auto;
  width: 90%;
  padding-top: 3%;
  color: rgba(255, 130, 88, 1);
  font-size: calc(0.45em + 2vmin);
  font-weight: 400;
  font-family: "Shrikhand", cursive;
}
.modalSubTitle {
  white-space: initial;
  margin: 0 auto;
  width: 90%;
  padding-top: 0%;
  padding-bottom: 2%;
  color: rgb(126, 126, 126);
  font-size: calc(0.45em + 1.3vmin);
  font-family: "Montserrat", sans-serif;

  border-bottom: 1px solid rgb(196, 196, 196);
}

.modalDescription {
  padding-top: 3%;
  white-space: initial;
  margin: 0 auto;
  width: 90%;
  color: rgb(126, 126, 126);
  font-size: calc(0.45em + 1.3vmin);
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  width: 90%;
}

.modalButtonContainer {
  position: absolute;
  height: 9%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  bottom: 8%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.modalButton {
  font-size: calc(0.45em + 1.1vmin);
  text-align: center;
  color: rgba(255, 130, 88, 1);
  cursor: pointer;
  padding: 18px;
  background-color: transparent;
  border: 1px solid rgba(255, 130, 88, 1);
  transition: all 0.2s;
  font-family: "Montserrat", sans-serif;
}
.modalButton:hover {
  color: white;
  transition: all 0.2s;
  background-color: rgba(255, 130, 88, 1);
}
/* END MODALS */

@media screen and (max-device-width: 1500px) {
  .projects_item {
    height: 300px;
    width: 300px;
    background-color: #4f535c;
  }
  .modal {
    width: 50%;
  }
}
@media screen and (max-device-width: 1100px) {
  .projects_item {
    height: 250px;
    width: 250px;
    background-color: #4f535c;
  }

  .modal {
    width: 50%;
  }
}
@media screen and (max-device-width: 820px) {
  .projects_item {
    height: 200px;
    width: 200px;
    background-color: #4f535c;
  }

  .projects_Nav {
    top: 10%;

    height: 14%;
    width: 100%;
  }

  .projects_item_Title {
    width: 80%;
    height: 60%;
    font-size: calc(0.75em + 0.8vmin);
  }
}
@media screen and (max-device-width: 700px) {
  .modal {
    width: 70%;
  }
}

@media screen and (max-device-width: 400px) {
  .projects_Html {
    align-content: center;
    flex-direction: column;
  }
  .projects_item {
    margin-top: 5px;
    height: 175px;
    width: 250px;
    background-color: #4f535c;
  }
  .projects_Nav {
    position: absolute;
    top: 8%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    height: 15%;
    width: 80%;
    /* background-color: red; */
  }
}
@media screen and (max-device-width: 300px) {
  .projects_item {
    height: 175px;
    width: 200px;
    background-color: #4f535c;
  }
}

@media screen and (max-device-height: 750px) and (max-device-width: 850px) {
  .projects_item {
    height: 160px;
    background-color: #4f535c;
  }
}

@media screen and (max-device-height: 900px) and (max-device-width: 600px) {
  .modalDescription {
    width: 80%;
    font-size: calc(0.45em + 1.8vmin);
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    width: 90%;
  }
}
@media screen and (max-device-height: 950px) and (max-device-width: 500px) {
  .projects_item {
    height: 135px;
    background-color: #4f535c;
  }
}
@media screen and (max-device-height: 700px) and (max-device-width: 500px) {
  .projects_item {
    height: 100px;
    background-color: #4f535c;
  }
}
@media screen and (max-device-height: 550px) and (max-device-width: 500px) {
  .projects_item {
    height: 80px;
    background-color: #4f535c;
  }
}
@media screen and (max-device-height: 450px) and (max-device-width: 500px) {
  .projects_item {
    height: 60px;
    width: 200px;
    background-color: #4f535c;
  }
}
@media screen and (max-device-height: 450px) {
  .projects_item {
    height: 60px;
    width: 200px;
    background-color: #4f535c;
  }

  .projects_item_Title {
    width: 80%;
    height: 60%;
    font-size: calc(0.75em + 0.4vmin);
  }

  .projects_item_Button {
    cursor: pointer;
    pointer-events: all;

    width: 40%;
    height: 22%;

    font-size: calc(0.45em + 0.5vmin);
  }
}
